
body {
    font-size:18px;
}

/********go back to the layout of sphinx-book-theme v0.1.4************/

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px!important;
  }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%!important;
  padding-right: 15px!important;
  padding-left: 15px!important;
  margin-right: auto!important;
  margin-left: auto!important;
}

/*******************************************************/

:root {
  --clr-nav_primary: rgb(68, 102, 63);
  --clr-nav_secondary: rgb(184,86,182);
  --clr-nav_accent: rgb(255, 177, 68);
  --clr-nav_text: rgb(236, 240, 241);
  
  --pst-color-link: 24, 188, 156; /*68, 102, 63;*/
  --pst-color-link-hover: 68, 102, 63;/*255, 177, 68;*/
  --pst-color-active-navigation: 184, 86, 182;
  --pst-color-preformatted-background: 236, 240, 241;

  --pst-color-sidebar-caption: 255,177,68 /*deafault 77,77,77*/;

  --sd-color-card-border-hover: rgb(24, 188, 156);
}

/********credits thumbcontainer************/

.img-team{
  max-width: 200px !important;
  max-height: 200px !important;
}
.nbsphinx-gallery > a:hover, .nbsphinx-gallery > a:focus-within, .sd-card:hover, .sd-card:focus-within {
    box-shadow: 0 0.125rem 0.125rem 0.25rem var(--sd-color-card-border-hover);
    outline: transparent;
}
/*******************************************/

code {
  color:#e0855e;
 }

pre {
   color: #3a3a39;
 }

#site-navigation {
 background-color: var(--clr-nav_primary);
}

#site-navigation nav ul.nav li a, 
#site-navigation nav ul.nav ul li a, 
#site-navigation div.navbar_extra_footer {
 color:var(--clr-nav_text);
}

.bd-sidebar label:hover{
 background-color: rgb(var(--pst-color-link-hover));
}

/* From https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}
