
body {
    font-size:18px;
  }
div.body {
    max-width: 1100px;
}



/** personalized default navbar **/
.navbar-default {
    background-color: rgb(68, 102, 63);/*#2D7D6C;*//*#369782;*/
    border-color:#ffb144ff;/*#968136;*//* #e0855e;*/
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffb144ff;/*#813696;*//*#b800a0;*/
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffb144ff;/*#813696;*//*#b800a0;*/
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #266777; 
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: rgb(184, 86, 182);
    background-color: #ffb144ff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #ffb144ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: rgb(184, 86, 182);
    background-color: #ffb144ff;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(184, 86, 182);/*#813696;*//*#b800a0;*/
    background-color:#ffb144ff;/*#968136;*//* #e0855e;*/
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: rgb(184, 86, 182);/*#813696;*//*#b800a0;*/
    background-color:#ffb144ff;/*#968136;*//* #e0855e;*/
  }
  .navbar-default .navbar-toggle {
    border-color: #ffb144ff;/*#968136;*//* #e0855e;*/
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffb144ff;/*#968136;*//* #e0855e;*/
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #ffb144ff;/*#813696;*//*#b800a0;*/
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: rgb(184, 86, 182);/*#813696;*//*#b800a0;*/
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: rgb(184, 86, 182);/*#813696;*//*#b800a0;*/
      background-color: #ffb144ff;/*#968136;*//* #e0855e;*/
    }
  }
  /*******************************/
  


/*****fix carousel issues********/

.carousel{
    width:100% !important;
    overflow: hidden !important;
    max-height: 600px !important;
}
/*******************************/
  
  
  
/********credits thumbcontainer************/

.cr-thumbcontainer {
    background:#fff;
    border:solid #d6d6d6 1px!important;
    text-align:center!important;
    font-size:1.2em!important
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    box-shadow:none;
    float:left;
    margin:15px 20px;
    min-width:300px;
    min-height:400px;
    padding-top:5px;
    position:relative;
}
.cr-thumbcontainer:hover {
    border:solid #b4ddfc 1px;
    box-shadow:0 0 15px rgba(142,176,202,.5);
}
.cr-thumbcontainer img {
    display:inline;
    height:200px;
    width:200px;
    position:relative;
}


  
/********examples thumbcontainer************/
  
.ex-thumbcontainer {
    background:#fff;
    border:solid #d6d6d6 1px!important;
    text-align:center!important;
    font-size:1.2em!important
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    box-shadow:none;
    float:left;
    margin:10px;
    min-height:250px;
    padding-top:5px;
    position:relative;
   }
.ex-thumbcontainer:hover {
    border:solid #b4ddfc 1px;
    box-shadow:0 0 15px rgba(142,176,202,.5);
   }
.ex-thumbcontainer a.internal {
    bottom:0;
    display:block;
    left:0;
    padding:150px 10px 0;
    position:absolute;
    right:0;
    top:0;
  }
.ex-thumbcontainer a.internal:hover {
    background-color:transparent;
  }
.ex-thumbcontainer p {
    margin:0 0 .1em;
  }
.ex-thumbcontainer .figure {
    margin:10px;
    width: 200px;
    height: 200px;
  }
.ex-thumbcontainer img {
    display:inline;
    width: 160px;
    height:160px;
    position:relative;
  }
  
  
/*******************************************/
  
code {
   color:#e0855e;
  }

pre {
    color: #3a3a39;
    /* display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #909ab7;
    border: 1px solid #cccccc;
    border-radius: 4px; */
  }

.jumbotron{
    background-color:#fff;
    text-align:center;
   }


/* From https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -60px; 
    height: 60px; 
    visibility: hidden; 
  }